/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Import Google Font Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Give full control over margin, padding and border on all elements*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    height: 100%;
}

/* Body */
body {
    background-image: url("../images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 60%;

    font-family: nunito, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #000;
}

header h1 {
    text-align: center;
    color: #efeed4;
    text-shadow: 1px 1px #000;
}

/* Homepage */

.intro-section {
    color: #efeed4;
    background-color: rgb(28, 12, 3, 0.7);
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 10px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
}

.speech-bubble-div {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-top: 5vh;
    margin-right: 2vw;
    width: 85%;
    height: 18vh;
    border-radius: 30px;
    background-color: #efeed4;
    /*Align Text vertically and horizontally*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.speech-bubble-div p {
    margin: 10px;
    text-align: center;
    color: black;
}

.maple-photo-1 {
    border-radius: 50%;
    width: 4em;
    margin-left: 3vw;
    -ms-flex-item-align: start;
    align-self: flex-start;
    background-color: #efeed4;
}

#nickname {
    margin: 15vh 5px 10px 5px;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}

#submit-nickname-button {
    border: 5px outset #deb51d;
    padding: 8px;
    border-radius: 10px;
    background-color: #deb51d;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #000;
}

#submit-nickname-button:hover {
    border: 5px outset #deb51d;
    background-color: #deb51d;
    color: #000;
}

#submit-nickname-button:active {
    border: 5px inset #deb51d;
    color: #000;
}

.navbar {
    margin-top: auto;
    margin-bottom: 20px;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.how-to-play-button {
    border: 5px outset #deb51d;
    background-color: #deb51d;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.how-to-play-button:hover {
    border: 5px outset #deb51d;
    background-color: #deb51d;
    color: #000;
}

.how-to-play-button:active {
    border: 5px inset #deb51d;
    color: #000;
}

.scoreboard-button {
    border: 5px outset #deb51d;
    background-color: #deb51d;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.scoreboard-button:hover {
    border: 5px outset #deb51d;
    background-color: #deb51d;
    color: #000;
}

.scoreboard-button:active {
    border: 5px inset #deb51d;
    color: #000;
}

/* How to play modal */

.how-to-play-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top of the other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #000;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
    color: #efeed4;
}

/* How to play modal div */
.how-to-play-div {
    background-color: #deb51d;
    color: #1e0d03;
    width: 80%;
    /*center vertically*/
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    /*round corners*/
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* How to play modal header */
.how-to-play-modal-header {
    background-color: #deb51d;
    /*round top left and top right corners*/
    border-radius: 20px 20px 0 0;
    width: 100%;
    padding-top: 5px;
}

.how-to-play-modal-header h2 {
    text-align: center;
}

/* Modal close button */
.close-modal-button {
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-top-right-radius: 20px;
    padding-right: 10px;
    background-color: #deb51d;
    color: black;
}

.close-modal-button:hover,
.close-modal-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* How to play modal Body */

.how-to-play-modal-body {
    padding: 20px 10px 20px 35px;
}

/* Scoreboard modal */

#scoreboard-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top of the other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #000;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
    color: #efeed4;
}

/* Scoreboard div */
.scoreboard-div-modal {
    background-color: #deb51d;
    color: #1e0d03;
    width: 80%;
    text-align: center;
    /*center vertically*/
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    /*round corners*/
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.scoreboard-div-modal table {
    width: 100%;
}

/* Scoreboard modal header */
.scoreboard-modal-header {
    background-color: #deb51d;
    /*round top left and top right corners*/
    border-radius: 20px 20px 0 0;
    width: 100%;
    padding-top: 5px;
}

.scoreboard-modal-header h2 {
    text-align: center;
}

/* Scoreboard body */

.scoreboard-body {
    width: 80%;
    padding: 10px 30px 10px 0px;
}

/* Nickname error modal */

#nickname-error-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top of the other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #000;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
    color: #efeed4;
}

/* Nickname error div */
.nickname-error-div {
    background-color: #7d3024;
    color: #efeed4;
    width: 80%;
    /*center vertically*/
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    /*round corners*/
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* Scoreboard modal header */
.nickname-error-modal-header {
    background-color: #7d3024;
    /*round top left and top right corners*/
    border-radius: 20px 20px 0 0;
    width: 100%;
    padding-top: 5px;
}

.nickname-error-modal-header h2 {
    text-align: center;
}

/* Nickname error body */

.nickname-error-modal-body {
    padding: 20px 10px;
}

/* Close Nickname error button */
.close-modal-button-error {
    background-color: #7d3024;
    color: #efeed4;
}

/* Introduction page */

.nickname-submitted-section {
    color: #efeed4;
    background-color: rgb(28, 12, 3, 0.7);
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 10px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
}

.speech-bubble-2-div {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 5vh;
    margin-left: 3vw;
    width: 85%;
    height: 32vh;
    border-radius: 30px;
    background-color: #efeed4;
    /*Align Text vertically and horizontally*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.speech-bubble-2-div p {
    margin: 10px;
    text-align: center;
    color: black;
}

.maple-photo-2 {
    border-radius: 50%;
    width: 4em;
    margin-right: 3vw;
    -ms-flex-item-align: end;
    align-self: flex-end;
    background-color: #efeed4;
}

#start-game-button {
    border: 5px outset #deb51d;
    background-color: #deb51d;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-top: 12vh;
}

#start-game-button:hover {
    border: 5px outset #deb51d;
    background-color: #deb51d;
    color: #000;
}

#start-game-button:active {
    border: 5px inset #deb51d;
    color: #000;
}

/* Question Page */

.question-header h1 {
    font-size: 1.5em;
}

#current-score {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    white-space: nowrap;
}

#current-score p {
    margin: 2% 30px 0 30px;
    color: #efeed4;
}

.question-section {
    color: #efeed4;
    background-color: rgb(28, 12, 3, 0.7);
    height: 92%;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 10px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
}

#speech-bubble-3-div {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-top: 2vh;
    margin-right: 2vw;
    width: 85%;
    min-height: 15vh;
    max-height: 20vh;
    border-radius: 30px;
    background-color: #efeed4;
    /*Align Text vertically and horizontally*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    font-size: 0.9em;
}

#speech-bubble-3-div p {
    margin: 10px;
    text-align: center;
    color: black;
}

.maple-photo-3 {
    border-radius: 50%;
    width: 3em;
    margin-right: 3vw;
    margin-top: -25px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    background-color: #efeed4;
    border: solid 2px #1e0d03;
}

#answer-options-div {
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0.5em;
    margin-top: auto;
    margin-bottom: 20px;
}

.answer {
    border: 5px outset #deb51d;
    padding: 10px;
    border-radius: 10px;
    background-color: #deb51d;
    -webkit-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
    color: #000;
}

.answer:active {
    border: 5px inset #deb51d;
    color: #000;
}

#next-and-select-answer-div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 5px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

#confirm-answer-button {
    display: block;
    border: 5px outset #deb51d;
    border-radius: 10px;
    background-color: #deb51d;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 5px;
    width: 40%;
    opacity: 0.5;
    color: #000;
}

#confirm-answer-button:active {
    border: 5px inset #deb51d;
    color: #000;
}

#next-question-button {
    display: block;
    border: 5px outset #deb51d;
    border-radius: 10px;
    background-color: #deb51d;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 5px;
    width: 40%;
    opacity: 0.5;
    color: #000;
}


#next-question-button:active {
    border: 5px inset #deb51d;
    color: #000;
}

.correctAnswerButton {
    color: #efeed4;
    background-color: #3a4e05;
    border-color: #3a4e05;
}

.wrongAnswerButton {
    color: #efeed4;
    background-color: #7d3024;
    border-color: #7d3024;
    opacity: 0.4;
}

.correctAnswerBody {
    background-image: none;
    background-color: #3a4e05;
}

.wrongAnswerBody {
    background-image: none;
    background-color: #7d3024;
}

.selectedAnswer {
    opacity: 1;
}

/* Scoreboard end game */

.scoreboard-end-game {
    background-color: #deb51d;
    color: #1e0d03;
    width: 80%;
    text-align: center;
    /*center vertically*/
    position: relative;
    /*round corners*/
    border-radius: 20px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: auto;
}

.scoreboard-table-end-game {
    width: 90%;
    padding: 10px 20px 10px 0px;
}


/* Home Button */

#home-button {
    border: 5px outset #deb51d;
    background-color: #deb51d;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-top: auto;
    margin-bottom: 10px;
    display: none;
}

#home-button:active {
    border: 5px inset #deb51d;
    background-color: #deb51d;
    color: #000;
}

/* Screens above 425px height - Mobile */
@media screen and (min-width: 425px) {

    .intro-section,
    .nickname-submitted-section,
    .question-section {
        width: 75%;
    }

    .how-to-play-div,
    .scoreboard-div-modal,
    .nickname-error-div {
        width: 70%;
    }

}

/* Screens above 768px height - Tablets */
@media screen and (min-width: 768px) {

    .intro-section,
    .nickname-submitted-section,
    .question-section {
        width: 55%;
    }

    #answer-options-div {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .how-to-play-div,
    .scoreboard-div-modal,
    .nickname-error-div {
        width: 50%;
    }

}

/* Screens above 1024px height - Desktop */
@media screen and (min-width: 1024px) {

    .intro-section,
    .nickname-submitted-section,
    .question-section {
        width: 40%;
    }

    .how-to-play-modal {
        background-color: #deb51d;
        width: 20%;
        max-height: 50%;
        /*center vertically*/
        top: 25%;
        left: 5%;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        /*round corners*/
        border-radius: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        justify-items: center;
    }

    .how-to-play-div {
        top: 0;
        left: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        padding-right: 0;
        height: 100%;
        width: 80%;
    }

    .how-to-play-modal-body {
        padding: 2px 0 0 15px;
        margin: auto 0;
    }

    #scoreboard-modal {
        background-color: #deb51d;
        width: 20%;
        max-height: 50%;
        /*center vertically*/
        top: 25%;
        left: 75%;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        /*round corners*/
        border-radius: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        justify-items: center;
    }

    .scoreboard-div-modal {
        top: 0;
        left: 0;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        height: 100%;
        width: 80%;
    }

    .scoreboard-body {
        padding: 10px 5px 10px 0px;
        margin: auto 0;
    }

    .nickname-error-div {
        width: 35%;
    }

    .close-modal-button,
    .how-to-play-button,
    .scoreboard-button {
        display: none;
    }

    .close-button-nickname {
        display: inline;
    }

}